@charset "UTF-8";

body {
	background: #f2f2f2;
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
}




/* --- --- Barra Lateral --- --- */
.barra-lateral {
	background: #262a34;
	color: #fff;
	min-width: 300px;
	min-height: 100vh;
}

.barra-lateral a {
	color: #fff;
}

/* --- Logo --- */
.logo {
	display: grid;
	grid-template-columns: 10% 90%;

}

.img-logo {
	margin: 15px 15px;
	width: 50px;
	height: 50px;
}

.img-logo:hover {
	color: red;
}

.barra-lateral .logo {
	background: steelblue;

}

.barra-lateral .logo h2 {
	font-size: 30px;
	font-family: 'Open+Sans', sans-serif;
	text-align: center;
	font-weight: 300;
}

/* --- MENU --- */
.barra-lateral .menu a {
	display: block;
	padding: 20px;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	border-bottom: 1px solid rgba(255, 255, 255, .1);
}

.barra-lateral .menu a:hover {
	background: #35ae6b;
}

.barra-lateral .menu a svg {
	margin-right: 10px;
}



.title {

	font-size: 38px;
	font-family: 'Open Sans', sans-serif;
	text-align: auto;
	font-weight: 900;
	margin-bottom: 2.5rem;
	
}

.wrapper {

	margin-top: 1rem;
	margin-bottom: 1rem;
	display: grid;
	grid-template-columns: repeat(3, 2fr);
	gap: 2rem;


}

.wrapper svg {
	height: 80px;
	width: 60px;
	color: black;
}

.box-size {
	width: 200px;
	margin: auto auto;

}

.box {

	background-color: grey;
	border-radius: 10px;
	border: solid 2px #ccc;

}

.wrapper h2 {
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 20px;
	font-family: 'Open Sans', sans-serif
}

/* --- MEDIAQUERIES ---  */
/* Dispositivo xs */
@media screen and (max-width: 320px) {
	.wrapper h2 {
		font-size: 10px;

	}

}

/* Dispositivo sm */
@media screen and (max-width: 576px) {

	.menu {
		display: none
	}

	.wrapper h2 {
		font-size: 15px;

	}

	.wrapper h2 {
		font-size: 15px;
	}

	.wrapper {
		display: flex;
		flex-direction: column;

	}

}

/* Dispositivo md */
@media screen and (max-width: 768px) {
	.barra-lateral {
		min-height: auto;
	}



}

/* Dispositivo lg */
@media screen and (max-width: 992px) {

	.barra-lateral {
		min-width: auto;
	}

	.wrapper {

		margin-top: 1rem;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 5px;
		grid-auto-rows: minmax(50px, auto);

	}
}

/* Dispositivo xl */
@media screen and (max-width: 1200px) {

	.main {
		margin-top: 50px;
	}



	.barra-lateral .logo {
		display: none;
	}

	.barra-lateral .menu a svg {
		display: none;
	}


}

/* Dispositivo xxl */
@media screen and (max-width: 1400px) {}